body {
    background-color: #1B998B;
    font-family: cursive;
    font-size: 1.5em;
}

::selection {
    background: rgb(204, 204, 204);
}

header {
    text-align: center;
}

h1 {
    user-select: none;
}

.container {
    margin-left: 500px;
}

li {
    display: inline;
}

#done, #next, #back, #start {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    height: 30px;
    padding-top: 0px;
    border: 2px solid #2D3047;
    background-color: rgb(129, 226, 49);
    cursor: pointer;
    margin-left: 50px;
    outline: none;
}

h4 {
    color: rgb(161, 255, 166);
    color: rgb(255, 160, 144);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input, #physique_rating, #height_unit, #weight_unit, #bmr_unit {
    font-size: 1.5rem;
    background-color: rgb(216, 216, 216);
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
    outline: none;
}

#age {
    appearance: textfield;
}