body {
    font-family: cursive;
    font-size: 1.5em;
    margin: 0px;
}

::selection {
    background: rgb(204, 204, 204);
}

header {
    background-color: #1B998B;
    text-align: center;
    padding: 10px;
}

.header_msg {
    text-align: center;
}

a {
    color: black;
    margin: 0px 10px
}

footer {
    text-align: center;
    padding: 10px;
}

h1 {
    user-select: none;
    margin: 0px;
}

main {
    margin-left: 500px;
}

section {
    margin-top: 10px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    height: 30px;
    padding-top: 0px;
    border: 2px solid #2D3047;
    background-color: rgb(129, 226, 49);
    cursor: pointer;
    margin-left: 50px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputs {
    font-size: 1.5rem;
    background-color: rgb(216, 216, 216);
    text-align: center;
    border: 1px solid black;
}

.inputs:focus {
    box-shadow: 0 0px 15px rgba(49, 49, 49, 0.7);
}

.unit, .mark {
    display: inline;
}

.error_msg {
    display: inline-block;
    font-size: 1rem;
    clear: right;
    margin: 0px;
}

.not {
    display: none;
}

#height2_box, #height_box {
    display: inline-block;
}

/* Colors:
    color: rgb(161, 255, 166);
    color: rgb(255, 160, 144);
 */